@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Manrope, "Noto Sans TC", sans-serif;
  text-rendering: optimizeLegibility;
  user-select: none;
}

@layer base {
  :root {
    --background: 221 100% 95%;
    --foreground: 221 5% 10%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 15%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 10%;
    --primary: 221 84% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 221 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 30% 85%;
    --muted-foreground: 221 5% 35%;
    --accent: 183 30% 80%;
    --accent-foreground: 221 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 50%;
    --input: 221 30% 21%;
    --ring: 221 84% 62%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 221 50% 10%;
    --foreground: 221 5% 90%;
    --card: 221 50% 10%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 84% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 221 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 30% 21%;
    --muted-foreground: 221 5% 60%;
    --accent: 183 30% 21%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 21%;
    --input: 221 30% 21%;
    --ring: 221 84% 62%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.intensity-1 {
  color: white;
  background-color: #003264;
}

.intensity-2 {
  color: white;
  background-color: #0064C8;
}

.intensity-3 {
  color: white;
  background-color: #1E9632;
}

.intensity-4 {
  color: black;
  background-color: #FFC800;
}

.intensity-5 {
  color: black;
  background-color: #FF9600;
}

.intensity-6 {
  color: black;
  background-color: #FF6400;
}

.intensity-7 {
  color: white;
  background-color: #FF0000;
}

.intensity-8 {
  color: white;
  background-color: #C00000;
}

.intensity-9 {
  color: white;
  background-color: #9600C8;
}

.lpgm-1 {
  color: white;
  background-color: #0041ff;
}

.lpgm-2 {
  color: #333333;
  background-color: #ffe600;
}

.lpgm-3 {
  color: white;
  background-color: #ff2800;
}

.lpgm-4 {
  color: white;
  background-color: #a50021;
}